name: Release Changeset

on:
  push:
    branches:
      - main
      - v6
    paths:
      - ".changeset/**"
      - .github/workflows/release-changeset.yml
  workflow_dispatch: {}

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
      packages: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Creating .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
          auto-install-peers=true
          strict-peer-dependencies=false
          //registry.npmjs.org/:_authToken=${NPM_TOKEN}
          //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
          EOF
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Create Release Pull Request or Publish to registry
        id: changesets
        uses: changesets/action@v1
        with:
          branch: ${{ github.ref_name }}
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          version: pnpm ci:version
          publish: pnpm ci:release
          setupGitUser: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Cleanup apps changesets
        if: steps.changesets.outputs.hasChangesets == 'true'
        run: node .github/scripts/cleanup-apps-changesets.mjs

      - name: Commit cleanup changes
        if: steps.changesets.outputs.hasChangesets == 'true'
        run: |
          git add .
          git diff --staged --quiet || git commit -m "chore: cleanup apps changesets"
          git push --set-upstream origin $(git branch --show-current)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
